<tr>
  <td class="px-6 py-4 sticky sm:static left-0 bg-white z-0 min-w-[220px]">
    <div class="flex items-center">
      <div class="flex-shrink-0 h-10 w-10">
        <%= link_to coffee_shop_path(id: coffee_shop.slug) do %>
          <% if coffee_shop.logo.attached? %>
            <%= image_tag rails_public_blob_url(coffee_shop.logo), class: "h-10 w-10 rounded-full border border-brown", loading: "lazy", alt: coffee_shop.name %>
          <% else %>
            <div class="h-10 w-10 rounded-full">
              <%= render "components/icons/image" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="ml-4">
        <div class="text-sm font-medium text-gray-900">
          <%= link_to coffee_shop.name, coffee_shop_path(id: coffee_shop.slug) %>
        </div>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900">
      <%= coffee_shop.location_full_url %>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <div class="flex space-x-2 items-center">
      <%= render "link", coffee_shop: coffee_shop, link: :google_map %>
      <%= render "link", coffee_shop: coffee_shop, link: :instagram_url %>
      <%= render "link", coffee_shop: coffee_shop, link: :facebook_url %>
      <%= render "link", coffee_shop: coffee_shop, link: :twitter_url %>
      <%= render "link", coffee_shop: coffee_shop, link: :tiktok_url %>
      <%= render "link", coffee_shop: coffee_shop, link: :whatsapp_url %>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <%= link_to "View", coffee_shop_path(id: coffee_shop.slug), class: "text-brown-600 hover:text-brown-900" %>
  </td>
</tr>
