<div id="<%= dom_id coffee_shop %>">
  <p>
    <strong>Name:</strong>
    <%= coffee_shop.name %>
  </p>

  <p>
    <strong>District:</strong>
    <%= coffee_shop.district %>
  </p>

  <p>
    <strong>State:</strong>
    <%= coffee_shop.state %>
  </p>

  <p>
    <strong>Urls:</strong>
    <%= coffee_shop.urls %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= coffee_shop.status %>
  </p>

</div>
