<h2 class="text-3xl font-extrabold text-gray-900">
  New Coffee Shop
</h2>

<% if CoffeeShop.where(status: "unpublished").count > 20 %>
  <div class="mt-4 rounded-md bg-red-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-800">
          There are <%= CoffeeShop.where(status: "unpublished").count  %> coffee shops waiting to be reviewed.
        </h3>
        <div class="mt-2 text-sm text-red-700">
          We are receiving high new coffee shop submissions from hundreds of
          coffee lovers. It may take a while before yours are processed, but we
          will process your form.
        </div>
      </div>
    </div>
  </div>
<% end %>

<% unless current_user %>
  <div class="rounded-md bg-yellow-50 p-4 mt-8">
    <div class="flex">
      <div class="flex-shrink-0">
        <!-- Heroicon name: solid/exclamation -->
        <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-yellow-800">
          You are not signed in
        </h3>
        <div class="mt-2 text-sm text-yellow-700">
          <p>
            If you submit this coffee shop without logging in, we won't be able
            to credit you as the submitter. Please take a moment to sign in on
            this <%= link_to "page", new_user_session_path, class: "underline" %>.
          </p>
          <p class="mt-2">
            I promise it won't take more than one minute 😉
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class"mt-2 text-center text-sm text-gray-600">
  <%= render "components/alert", alerts: coffee_shop.errors.full_messages if coffee_shop.errors.full_messages.count > 0 %>
</div>


<div class="bg-white overflow-hidden shadow rounded-lg mt-8">
  <div class="px-4 py-5 sm:p-6">
    <div
      data-controller="select"
      data-select-url-value="<%= cities_locations_path %>"
      data-select-param-value="state"
      >
      <%= form_for coffee_shop do |f| %>
        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
          <div class="space-y-6 sm:space-y-5">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Basic Information
              </h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                If we can come to the place and ask for a coffee freshly brewed
                from new coffee beans, then, we want to list it. We don't mind
                if it is house/kiosk/stall based. As long as it serves the right
                coffee.
              </p>
              <p class="mt-2 max-w-2xl text-sm text-gray-500">
                We have the right to <span class="font-bold">reject</span>
                submission that we think is not suitable for petakopi.my
              </p>
            </div>
            <div class="space-y-6 sm:space-y-5">
              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :name, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
                  Cofee Shop's Name*
                  <div class="mt-1 max-w-2xl text-sm text-gray-500">
                    Just the name, no location, no tagline
                  </div>
                <% end %>
                <div class="mt-1">
                  <%= f.text_field :name, required: true, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :state, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
                  State*
                <% end %>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <%= f.collection_select :state,
                    Location.states,
                    :to_s,
                    :to_s,
                    { prompt: true, required: true },
                    data: { action: "change->select#change" },
                    class: "max-w-lg block focus:ring-brown-500 focus:border-brown-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                  %>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :district, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
                  District*
                <% end %>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <%= f.collection_select :district,
                    f.object.state ? Location.districts(state: f.object.state) : [],
                    :to_s,
                    :to_s,
                    { required: true },
                    id: nil,
                    data: { select_target: "select" },
                    class: "max-w-lg block focus:ring-brown-500 focus:border-brown-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                  %>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :logo, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
                  Logo
                  <div class="mt-1 max-w-2xl text-sm text-gray-500">
                    Please upload the logo if you are the owner
                  </div>
                <% end %>
                <div class="mt-1">
                  <%= f.file_field :logo, class: "text-sm text-gray-700", accept: "image/*" %>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Info for Muslim
              </h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                This information is very important to Muslim. If you are not
                the owner, please fill it in only if you are sure about the
                status. Just leave it blank if you don't know.
              </p>
            </div>
            <div class="space-y-6 sm:space-y-5">
              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <div class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Status</div>
                <div class="mt-1">
                  <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <div class="space-y-6 sm:space-y-5">
                      <% Tag.all.each do |tag| %>
                        <div class="flex items-center">
                          <%= radio_button_tag "coffee_shop[tag_ids][]",
                            tag.id,
                            f.object.tags.include?(tag),
                            class: "focus:ring-brown-500 h-4 w-4 text-brown-600 border-gray-300",
                            id: dom_id(tag)
                          %>
                          <%= label_tag dom_id(tag), tag.name, class: "ml-3 block text-sm font-medium text-gray-700" %>
                        </div>

                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Locations
              </h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                This is important for us to know where it is and display it for
                others to see and search.
              </p>
            </div>
            <div class="space-y-6 sm:space-y-5">
              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :google_map, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
                  Google Map URL*
                <% end %>
                <div class="mt-1">
                  <%= f.text_field :google_map, required: true, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :waze, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
                  Waze URL
                <% end %>
                <div class="mt-1">
                  <%= f.text_field :waze, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Social Media
              </h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                It will help our fellow friends to see what is on the menu, the
                beautiful photos, the story or if it is even open right now.
              </p>
            </div>
            <div class="space-y-6 sm:space-y-5">
              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :instagram, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
                  Instagram
                <% end %>

                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <div class="max-w-lg flex rounded-md shadow-sm">
                    <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                      instagram.com/
                    </span>
                    <%= f.text_field :instagram, class: "flex-1 block w-full focus:ring-brown-500 focus:border-brown-500 min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
                  </div>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :facebook, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
                  Facebook
                <% end %>

                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <div class="max-w-lg flex rounded-md shadow-sm">
                    <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                      facebook.com/
                    </span>
                    <%= f.text_field :facebook, class: "flex-1 block w-full focus:ring-brown-500 focus:border-brown-500 min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
                  </div>
                </div>
              </div>

              <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                <%= f.label :twitter, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
                  Twitter
                <% end %>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <div class="max-w-lg flex rounded-md shadow-sm">
                    <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                      twitter.com/
                    </span>
                    <%= f.text_field :twitter, class: "flex-1 block w-full focus:ring-brown-500 focus:border-brown-500 min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-5">
            <div class="flex justify-end">
              <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-brown-600 hover:bg-brown-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brown-500">
                Submit
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
