<div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
  <%= render partial: "coffee_shops/coffee_shop_menu", locals: { coffee_shop: @coffee_shop } %>

  <div class="space-y-6 sm:px-6 lg:px-0 lg:col-span-9">
    <% if @coffee_shop.errors.full_messages.count > 0 %>
      <div class"mt-2 text-center text-sm text-gray-600">
        <%= render "components/alert", alerts: @coffee_shop.errors.full_messages  %>
      </div>
    <% end %>

    <%= form_for @coffee_shop do |f| %>
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="bg-white py-6 px-4 space-y-6 sm:p-6">

          <div class="space-y-8 divide-y divide-gray-200">
            <div>
              <div>
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  Basic Information
                </h3>
                <p class="mt-1 text-sm text-gray-500">
                  Please contact us if you want to change the name of you coffee shop.
                </p>
              </div>

              <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-6">
                  <label for="photo" class="block text-sm font-medium text-gray-700">
                    Description
                  </label>
                  <div class="mt-2">
                    <%= f.rich_text_area :description %>
                  </div>
                </div>
              </div>

              <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-6">
                  <label for="photo" class="block text-sm font-medium text-gray-700">
                    Logo
                  </label>
                  <div class="mt-2 flex items-center">
                    <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                      <% if @coffee_shop.logo.attached? %>
                        <%= image_tag rails_public_blob_url(@coffee_shop.logo), class: "h-full w-full text-gray-300" %>
                      <% else %>
                        <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"></path>
                        </svg>
                      <% end %>
                    </span>

                    <%= f.file_field :logo, class: "ml-2 text-sm text-gray-700", accept: "image/*" %>
                  </div>
                  <div class="mt-2 text-sm text-gray-500">Upload new image only you want to update it</div>
                </div>
              </div>
            </div>

            <div class="pt-8">
              <div>
                <div>
                  <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Info for Muslim
                  </h3>
                  <p class="mt-1 text-sm text-gray-500">
                    This information will be very helpful to our muslim coffee lovers.
                  </p>
                </div>

                <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                  <div class="sm:col-span-6">
                    <div class="space-y-5 sm:space-y-4">
                      <% Tag.is_public.where(group: "halal").order(:name).each do |tag| %>
                        <%= render "form_tag", f: f, tag: tag, multiple_selections: false %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pt-8">
              <div>
                <div>
                  <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Other Tags
                  </h3>
                  <p class="mt-1 text-sm text-gray-500">
                    With more information, we can help our coffee lovers to
                    find the right place for their coffee
                  </p>
                </div>

                <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                  <div class="sm:col-span-6">
                    <div class="space-y-5 sm:space-y-4">
                      <% Tag.is_public.where(group: nil).order(:name).each do |tag| %>
                        <%= render "form_tag", f: f, tag: tag, multiple_selections: true %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pt-8">
              <div>
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  Links
                </h3>
                <p class="mt-1 text-sm text-gray-500">
                  Links to your social media, contacts, etc.
                </p>
              </div>

              <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-4 space-y-5 divide-y">
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                      instagram.com/
                    </span>
                    <%= f.text_field :instagram, class: "flex-1 focus:ring-brown-500 focus:border-brown-500 block min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
                  </div>

                  <div class="mt-1 flex rounded-md shadow-sm">
                    <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                      facebook.com/
                    </span>
                    <%= f.text_field :facebook, class: "flex-1 focus:ring-brown-500 focus:border-brown-500 block min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
                  </div>

                  <div class="mt-1 flex rounded-md shadow-sm">
                    <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                      twitter.com/
                    </span>
                    <%= f.text_field :twitter, class: "flex-1 focus:ring-brown-500 focus:border-brown-500 block min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
                  </div>

                  <div class="mt-1 flex rounded-md shadow-sm">
                    <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                      tiktok.com/
                    </span>
                    <%= f.text_field :tiktok, class: "flex-1 focus:ring-brown-500 focus:border-brown-500 block min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
                  </div>

                  <div class="mt-1 flex rounded-md shadow-sm">
                    <%= f.text_field :whatsapp, placeholder: "60123456789", class: "flex-1 focus:ring-brown-500 focus:border-brown-500 block min-w-0 rounded-md sm:text-sm border-gray-300" %>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <%= f.submit "Save", class: "bg-brown-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-brown-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brown-500" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
