<%= content_for(:page_title) { @coffee_shop.name } %>
<%= content_for(:page_image) { rails_public_blob_url(@coffee_shop.logo) } if @coffee_shop.logo.attached? %>
<%= content_for(:page_description) { "#{@coffee_shop.name} in #{@coffee_shop.district}, #{@coffee_shop.state}" } %>
<%= content_for(:canonical_url) { main_coffee_shop_path(id: @coffee_shop.slug) } %>

<div id="toast"><!-- Will be replaced with alert from Turbo Stream --></div>

<%= turbo_frame_tag "bookmark" %>
<%= turbo_frame_tag "report" %>
<%= turbo_frame_tag "tell_manager" %>

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="fixed inset-0 z-[-1] bg-no-repeat bg-cover bg-center opacity-25" style="background-image: url(<%= rails_public_blob_url(@coffee_shop.logo) %>); filter: blur(50px);">
  </div>

  <div class="relative z-10">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <% if @coffee_shop.logo.attached? %>
        <div class="relative mx-auto max-w-md p-5 flex justify-center items-center">
          <div class="bg-gradient-to-tr from-pink-300 to-blue-300 p-1 rounded-full">
            <%=
              image_tag optimized_blob_url(asset: @coffee_shop.logo, options: ["width=200", "height=200"]),
                class: "h-16 w-16 rounded-full bg-white p-1",
                alt: "#{@coffee_shop.name} logo"
              %>
          </div>
        </div>
      <% end %>
      <div class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 flex items-center space-x-2 justify-center">
        <span><%= @coffee_shop.name %></span>
        <%= render partial: "shared/badge", locals: { coffee_shop: @coffee_shop, premium_slugs: @premium_slugs } %>
      </div>

      <% if @coffee_shop.description %>
        <div class="mt-1 text-center text-md leading-9 tracking-tight text-gray-500 flex items-center space-x-2 justify-center">
          <%= @coffee_shop.description %>
        </div>
      <% end %>
    </div>

    <% if @coffee_shop.tags.any? %>
      <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm">
        <div class="flex space-x-2 justify-center flex-wrap -mt-2">
          <% @coffee_shop.tags.each do |tag| %>
            <%= link_to "/?tags=#{tag.slug}" do %>
              <div class="mt-2">
                <%= render partial: "shared/tags/#{tag.slug.underscore}", locals: { name: tag.name } %>
              </div>
            <% end %>
        <% end %>
        </div>
      </div>
    <% end %>

    <% if @coffee_shop.instagram_url.present? %>
      <%= render partial: "coffee_shops/instagram_embed", locals: { instagram_url: @coffee_shop.instagram_url } %>
    <% end %>

    <% if @coffee_shop.opening_hours.exists? %>
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <%= render partial: "coffee_shops/opening_hours",
          locals: { opening_hours: @opening_hours } %>
      </div>
    <% end %>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <div class="flex flex-col space-y-4">
        <% [:google_map, :instagram_url, :facebook_url, :twitter_url, :tiktok_url, :whatsapp_url].each do |link| %>
          <% next if @coffee_shop.public_send(link).blank? %>

          <%= link_to @coffee_shop.public_send(link),
            target: "_blank",
            class: "-md rounded-lg bg-white px-3.5 py-4 text-md font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 text-center" do
          %>
            <%= link.to_s.remove("_url").titleize %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="mt-10 flex flex-col space-y-4">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <%= render partial: "coffee_shops/buttons/bookmark",
          locals: {
            coffee_shop: @coffee_shop,
            bookmark: @bookmark,
            bookmark_count: @bookmark_count,
          }
        %>
      </div>

      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <%= render partial: "coffee_shops/tell_manager",
          locals: { coffee_shop: @coffee_shop }
        %>
      </div>

      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <%= render partial: "coffee_shops/report",
          locals: { coffee_shop: @coffee_shop }
        %>
      </div>
    </div>

    <p class="mt-10 text-center text-sm text-gray-500">
      <%= link_to root_path, class: "font-semibold leading-6 text-brown-600 hover:text-brown-500" do %>
        Browse more coffee shops
      <% end %>
    </p>
  </div>
</div>
