<%= content_for(:page_title) { @coffee_shop.name } %>
<%= content_for(:page_image) { rails_public_blob_url(@coffee_shop.logo) } if @coffee_shop.logo.attached? %>
<%= content_for(:page_description) { "#{@coffee_shop.name} in #{@coffee_shop.district}, #{@coffee_shop.state}" } %>

<div class="text-left">
  <a href="<%= root_path %>">&#8592; Back to the list</a>
</div>

<% if @coffee_shop.status_duplicate? || @coffee_shop.status_rejected? %>
  <div class"mt-2 text-center text-sm text-gray-600">
    <%=
      render "components/alert",
        alerts: "This submission has been marked as #{@coffee_shop.status}. Please message <a href='https://instagram.com/petakopi.my' target='_blank'>@petakopi.my</a> on Instagram for more information."
      %>
  </div>
<% end %>

<div class="mt-4 bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6 flex items-center space-x-3">
    <% if @coffee_shop.logo.attached? %>
      <%= image_tag rails_public_blob_url(@coffee_shop.logo), class: "h-10 w-10 rounded-full border border-brown" %>
    <% else %>
      <div class="h-10 w-10 rounded-full">
        <%= render "components/icons/image" %>
      </div>
    <% end %>
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%= @coffee_shop.name %>
    </h3>
  </div>
  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Name
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @coffee_shop.name %>
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Location
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= @coffee_shop.location_full_url %>
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Links
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
        <div class="flex space-y-2 flex-col lg:flex-row lg:items-center lg:space-x-2 lg:space-y-0">
          <%= render "link", coffee_shop: @coffee_shop, link: :google_map, type: "button" %>
          <%= render "link", coffee_shop: @coffee_shop, link: :instagram_url, type: "button" %>
          <%= render "link", coffee_shop: @coffee_shop, link: :facebook_url, type: "button" %>
          <%= render "link", coffee_shop: @coffee_shop, link: :twitter_url, type: "button" %>
          <%= render "link", coffee_shop: @coffee_shop, link: :tiktok_url, type: "button" %>
          <%= render "link", coffee_shop: @coffee_shop, link: :whatsapp_url, type: "button" %>
        </div>
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Tags
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if @coffee_shop.tags.any? %>
            <% @coffee_shop.tags.each do |tag| %>
              <% # TODO: Figure out how to whitelist the dynamic colour classes %>
              <% if tag.slug == "non-halal" %>
                <span class="px-2 inline-flex text-xs leading-5 rounded-full bg-yellow-100 text-yellow-800">
              <% else %>
                <span class="px-2 inline-flex text-xs leading-5 rounded-full bg-green-100 text-green-800">
              <% end %>
                <%= tag.name %>
              </span>
            <% end %>
          <% else %>
            -
          <% end %>
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          Submitted by
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <% if @coffee_shop.submitter %>
            <%= @coffee_shop.submitter.name %>
          <% else %>
            Anonymous
          <% end %>
          on <%= @coffee_shop.created_at.strftime("%B %-d, %Y") %>
        </dd>
      </div>

      <% if @coffee_shop.google_embed %>
        <div class="bg-white-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">
            Maps
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
            <iframe src="<%= @coffee_shop.google_embed %>" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>

<div class="mt-4 text-right">
  <a href="https://instagram.com/petakopi.my">Let us know if you have new information &#8594;</a>
</div>
