<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <%= image_tag "logo.svg", class: "mx-auto h-20 w-auto", alt: "petakopi" %>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Sign Up
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      Or
      <%= link_to "sign in into your account", new_user_session_path, class: "font-medium text-brown-600 hover:text-brown-500" %>
    </p>
    <div class"mt-2 text-center text-sm text-gray-600">
      <%= render "components/alert", alerts: alert if alert %>
      <%= render "components/notice", alerts: notice if notice %>
    </div>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <div class="flex justify-center">
        <div>
          <%= button_to user_twitter_omniauth_authorize_path, method: :post, "data-turbo": false, class: "w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" do %>
            <span class="sr-only">Sign in with Twitter</span>
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
            </svg>
          <% end %>
        </div>
      </div>

      <div class="relative mt-6">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center text-sm">
          <span class="px-2 bg-white text-gray-500">Or manual registration</span>
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }) do |f| %>
        <div>
          <%= f.label :email, class: "block text-sm font-medium text-gray-700" do %>
            Email address
          <% end %>
          <div class="mt-1">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-brown-500 focus:border-brown-500 sm:text-sm" %>
          </div>
        </div>

        <div>
          <%= f.label :password, class: "block text-sm font-medium text-gray-700" do %>
            Password
          <% end %>
          <div class="mt-1">
            <%= f.password_field :password, autocomplete: "new-password", required: true, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-brown-500 focus:border-brown-500 sm:text-sm" %>
          </div>
        </div>

        <div>
          <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" do %>
            Password confirmation
          <% end %>
          <div class="mt-1">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-brown-500 focus:border-brown-500 sm:text-sm" %>
          </div>
        </div>

        <div>
          <%= f.label :name, class: "block text-sm font-medium text-gray-700" do %>
            Username
          <% end %>
          <div class="mt-1">
            <%= f.text_field :username, required: true, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-brown-500 focus:border-brown-500 sm:text-sm" %>
          </div>
        </div>

        <div>
          <%= f.label :name, class: "block text-sm font-medium text-gray-700" do %>
            Name
          <% end %>
          <div class="mt-1">
            <%= f.text_field :name, required: true, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-brown-500 focus:border-brown-500 sm:text-sm" %>
          </div>
        </div>

        <div>
          <%= f.submit "Submit", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-brown-600 hover:bg-brown-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brown-500" %>
        </div>
        <div class="text-sm text-center">
          <%= link_to "Cancel", root_path, class: "font-medium text-brown-600 hover:text-brown-500" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
