<div class="lg:grid lg:grid-cols-12 lg:gap-x-5 mt-2">
  <%= render "coffee_shops/user_menu" %>

  <div class="sm:px-6 lg:px-0 lg:col-span-9">
    <div class"mt-2 text-center text-sm text-gray-600">
      <%= render "components/alert", alerts: @user.errors.full_messages if @user.errors.full_messages.count > 0 %>
    </div>

    <%= form_with model: @user do |f| %>
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="bg-white py-6 px-4 space-y-6 sm:p-6">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">Profile</h3>
            <p class="mt-1 text-sm text-gray-500">This information will be displayed publicly.</p>
          </div>

          <div class="grid grid-cols-3 gap-6">
            <div class="col-span-3 sm:col-span-2">
              <%= f.label "Username", class: "block text-sm font-medium text-gray-700"%>

              <div class="mt-1 rounded-md shadow-sm flex">
                <span class="bg-gray-50 border border-r-0 border-gray-300 rounded-l-md px-3 inline-flex items-center text-gray-500 sm:text-sm">petakopi.my/u/</span>
                <%= f.text_field :username, required: true, class: "focus:ring-brown-500 focus:border-brown-500 flex-grow block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
              </div>
            </div>

          </div>

          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-4">
              <%= f.label "Avatar", class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= f.file_field :avatar, class: "text-sm text-gray-700", accept: "image/*" %>
              </div>
            </div>
          </div>
        </div>

        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <%= f.submit "Save", class: "bg-brown-600 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-brown-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brown-500" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
