<main class="my-6">
  <div class="max-w-3xl mx-auto md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl">
    <div class="flex items-center space-x-5">
      <div class="h-16 w-16 rounded-full">
        <% if @user.avatar.attached? %>
          <%= image_tag rails_public_blob_url(@user.avatar), class: "rounded-full border border-brown" %>
        <% else %>
          <svg class="text-brown-500 group-hover:text-brown-500 flex-shrink-0 -ml-1 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        <% end %>
      </div>
      <div>
        <h1 class="text-2xl font-bold text-gray-900"><%= @user.name %></h1>
        <p class="text-sm font-medium text-gray-500">Joined on <time datetime="<%= @user.created_at.strftime("%Y-%m-%d") %>"><%= @user.created_at.strftime("%B %d, %Y") %></time></p>
      </div>
    </div>
  </div>

  <%= render layout: "card" do %>
    <div class="graph text-xs overflow-x-auto overflow-y-hidden md:overflow-visible">
      <ul class="months">
        <% @check_in_months.each do |month| %>
          <li><%= month %></li>
        <% end %>
      </ul>
      <ul class="days">
        <li>Sun</li>
        <li>Mon</li>
        <li>Tue</li>
        <li>Wed</li>
        <li>Thu</li>
        <li>Fri</li>
        <li>Sat</li>
      </ul>
      <ul x-data="{tooltip: null}" class="squares">
        <% @check_ins.each do |date, count| %>
          <% key = date.to_date.iso8601 %>
          <li
            class="cursor-pointer"
            @click="tooltip = '<%= key %>'"
            data-level="<%= count %>"
          >
            <div
              x-show="tooltip === '<%= key %>'"
              style="display: none"
              class="absolute text-white bg-blue-400 rounded-lg p-2 transform -translate-y-8 translate-x-8"
            >
              <%= "#{count} on #{date}" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render layout: "card", locals: { title: "Favourites" } do %>
    <% if @favourites.size > 0 %>
      <%= render partial: "users/coffee_shop", collection: @favourites %>
    <% else %>
      No favourite yet.
    <% end %>
  <% end %>

  <% if @submitted_coffee_shops.size > 0 && @user.role.blank? %>
    <%= render layout: "card", locals: { title: "Submitted Coffee Shops", description: "List of all approved coffee shops." } do %>
      <%= render partial: "users/coffee_shop", collection: @submitted_coffee_shops %>
    <% end %>
  <% end %>
</main>
