<main class="my-6">
  <div class="max-w-3xl mx-auto md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl">
    <div class="flex items-center space-x-5">
      <div class="flex-shrink-0">
        <div class="relative">
          <%= letter_avatar_tag(@user.username[0..1], 100, class: "h-16 w-16 rounded-full") %>
          <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
        </div>
      </div>
      <div>
        <h1 class="text-2xl font-bold text-gray-900"><%= @user.name %></h1>
        <p class="text-sm font-medium text-gray-500">Joined on <time datetime="<%= @user.created_at.strftime("%Y-%m-%d") %>"><%= @user.created_at.strftime("%B %d, %Y") %></time></p>
      </div>
    </div>
  </div>

  <div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
    <div class="space-y-6 lg:col-start-1 lg:col-span-2">
      <section aria-labelledby="applicant-information-title">
        <div class="bg-white shadow sm:rounded-lg">
          <div class="px-4 py-5 sm:px-6">
            <h2 id="applicant-information-title" class="text-lg leading-6 font-medium text-gray-900">
              Submitted Coffee Shops
            </h2>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              List of all <%= @user.submitted_coffee_shops.count %> approved coffee shops.
            </p>
          </div>
          <div class="border-t border-gray-200 px-4 py-5 sm:px-6 flex flex-wrap">
            <% @user.submitted_coffee_shops.limit(20).each do |coffee_shop| %>
              <div>
                <%= link_to coffee_shop_path(id: coffee_shop.slug), target: "_blank" do %>
                  <% if coffee_shop.logo.attached? %>
                    <%= image_tag rails_public_blob_url(coffee_shop.logo), class: "h-10 w-10 rounded-full border border-brown mr-2", loading: "lazy", alt: coffee_shop.name %>
                  <% else %>
                    <div class="h-10 w-10 rounded-full inline-block mr-2">
                      <%= render "components/icons/image" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
