<%= content_for(:page_title) { "Live Map for nearby coffee places"} %>
<%= content_for(:page_description) { "See nearby coffee places on a live map!" } %>
<%= content_for :extra_styles do %>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet" />
<% end %>

<div class="pr-4 py-5 sm:py-6 sm:pr-6">
  <% Tag.all.order(:position).each do |tag| %>
    <%= link_to map_path(tags: tag.slug), data: { turbo: false } do %>
      <%= render partial: "shared/tags/#{tag.slug.underscore}", locals: { name: tag.name } %>
    <% end %>
  <% end %>
</div>

<div id="map" style="<%= turbo_native_app? ? "position: absolute; top: 0; bottom: 0; width: 100%" : "height: 500px" %>"></div>

<%= content_for :js do %>
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
  <script>
    mapboxgl.accessToken = "<%= Rails.application.credentials.dig(:mapbox_api_key) %>"

    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/light-v10?optimize=true",
      center: [101.7121498580279, 3.1578064758309883],
      zoom: 10
    })

    var geolocate =
      new mapboxgl.GeolocateControl({
        positionOptions: {
          enableHighAccuracy: true
        },
        // When active the map will receive updates to the device's location as it changes.
        trackUserLocation: true,
        // Draw an arrow next to the location dot to indicate which direction the device is heading.
        showUserHeading: true
      })

    map.addControl(new mapboxgl.NavigationControl())
    map.addControl(new mapboxgl.FullscreenControl())
    map.addControl(geolocate)

    map.on("load", () => {
      geolocate.trigger()

      // Add a new source from our GeoJSON data and
      // set the "cluster" option to true. GL-JS will
      // add the point_count property to your source data.
      map.addSource("coffee_shops", {
        type: "geojson",
        data: "<%= mapbox_path(type: 'geojson', tags: params[:tags]).html_safe %>",
        cluster: true,
        clusterMaxZoom: 14, // Max zoom to cluster points on
        clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
      })

      map.addLayer({
        id: "clusters",
        type: "circle",
        source: "coffee_shops",
        filter: ["has", "point_count"],
        paint: {
          // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
          // with three steps to implement three types of circles:
          //   * Blue, 20px circles when point count is less than 50
          //   * Yellow, 30px circles when point count is between 50 and 100
          //   * Pink, 40px circles when point count is greater than or equal to 100
          "circle-color": [
            "step",
            ["get", "point_count"],
            "#51bbd6",
            50,
            "#f1f075",
            100,
            "#f28cb1"
          ],
          "circle-radius": [
            "step",
            ["get", "point_count"],
            20,
            50,
            30,
            100,
            40
          ]
        }
      })

      map.addLayer({
        id: "cluster-count",
        type: "symbol",
        source: "coffee_shops",
        filter: ["has", "point_count"],
        layout: {
          "text-field": "{point_count_abbreviated}",
          "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
          "text-size": 12
        }
      })

      map.addLayer({
        id: "unclustered-point",
        type: "circle",
        source: "coffee_shops",
        filter: ["!", ["has", "point_count"]],
        paint: {
          "circle-color": "#11b4da",
          "circle-radius": 10,
          "circle-stroke-width": 1,
          "circle-stroke-color": "#fff"
        }
      })

      // inspect a cluster on click
      map.on("click", "clusters", (e) => {
        const features = map.queryRenderedFeatures(e.point, {
          layers: ["clusters"]
        })
        const clusterId = features[0].properties.cluster_id
        map.getSource("coffee_shops").getClusterExpansionZoom(
          clusterId,
          (err, zoom) => {
            if (err) return

            map.easeTo({
              center: features[0].geometry.coordinates,
              zoom: zoom
            })
          }
        )
      })

      // When a click event occurs on a feature in
      // the unclustered-point layer, open a popup at
      // the location of the feature, with
      // description HTML from its properties.
      map.on("click", "unclustered-point", (e) => {
        const coordinates = e.features[0].geometry.coordinates.slice()
        const name = e.features[0].properties.name
        const url = e.features[0].properties.url
        const logo = e.features[0].properties.logo
        const popupText = `
           <div class="flex items-center font-semibold space-x-3">
             <img src="${logo}" class="h-10 w-10 rounded-full border border-brown">
             <a href="${url}" target="_blank">${name} &rarr;</a>
           </div>
        `

        // Ensure that if the map is zoomed out such that
        // multiple copies of the feature are visible, the
        // popup appears over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360
        }

        new mapboxgl.Popup()
          .setLngLat(coordinates)
          .setHTML(popupText)
          .addTo(map)
      })

      map.on("mouseenter", "clusters", () => {
        map.getCanvas().style.cursor = "pointer"
      })
      map.on("mouseleave", "clusters", () => {
        map.getCanvas().style.cursor = ""
      })


      setTimeout(() => this.map.resize(), 0);
    })
  </script>

<% end %>
