<div class="relative bg-white" x-data="Components.popover({ open: false, focus: false })" x-init="init()" @keydown.escape="onEscape" @close-popover-group.window="onClosePopoverGroup">
  <div class="absolute inset-0 shadow z-30 pointer-events-none" aria-hidden="true"></div>
  <div class="relative z-20">
    <div class="max-w-7xl mx-auto flex justify-between items-center px-4 py-5 sm:px-6 sm:py-4 lg:px-8 md:justify-start md:space-x-8">
      <div>
        <%= link_to root_path, class: "flex" do %>
          <%= image_tag "logo.svg", class: "h-8 w-auto sm:h-10", alt: "petakopi" %>
        <% end %>
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-brown-500" @click="toggle" @mousedown="if (open) $event.preventDefault()" aria-expanded="true" :aria-expanded="open.toString()">
          <span class="sr-only">Open menu</span>
          <svg class="h-6 w-6" x-description="Heroicon name: outline/menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
      <div class="hidden md:flex-1 md:flex md:items-center md:justify-between">
        <nav class="flex space-x-10" x-data="Components.popoverGroup()" x-init="init()">
          <%= link_to about_path, class: "text-base font-medium text-gray-500 hover:text-gray-900 flex items-center" do %>
            About
          <% end %>
          <%= link_to coffee_map_path, class: "text-base font-medium text-gray-500 hover:text-gray-900 flex items-center" do %>
            Coffee Map
          <% end %>
          <%= link_to "Submit Coffee Shop", new_coffee_shop_path, class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
          <% if current_user&.staff? %>
            <%= link_to "Admin", admin_coffee_shops_path, class: "text-base font-medium text-red-500 hover:text-red-900" %>
          <% end %>
        </nav>
        <div class="flex items-center md:ml-12">
          <% if current_user %>
            <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path, class: "text-base font-medium text-gray-500 hover:text-gray-900" %>
            <%= link_to "Sign up", new_user_registration_path, class: "ml-8 inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-brown-600 hover:bg-brown-700" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div x-show="open" x-transition:enter="duration-200 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" x-description="Mobile menu, show/hide based on mobile menu state." class="absolute z-30 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden" x-ref="panel" @click.away="open = false">
    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
      <div class="pt-5 pb-6 px-5 sm:pb-8">
        <div class="flex items-center justify-between">
          <div>
            <%= image_tag "logo.svg", class: "h-8 w-auto", alt: "petakopi" %>
          </div>
          <div class="-mr-2">
            <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-brown-500" @click="toggle">
              <span class="sr-only">Close menu</span>
              <svg class="h-6 w-6" x-description="Heroicon name: outline/x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>

      </div>
      <div class="py-6 px-5">
        <div class="grid grid-cols-1 gap-4">
          <%= link_to about_path, class: "rounded-md text-base font-medium text-gray-900 hover:text-gray-700" do %>
            About
          <% end %>
          <%= link_to coffee_map_path, class: "rounded-md text-base font-medium text-gray-900 hover:text-gray-700" do %>
            Coffee Map
          <% end %>
          <%= link_to "Submit Coffee Shop", new_coffee_shop_path, class: "rounded-md text-base font-medium text-gray-900 hover:text-gray-700" %>
          <% if current_user&.staff? %>
            <%= link_to "Admin", admin_coffee_shops_path, class: "rounded-md text-base font-medium text-red-500 hover:text-red-900" %>
          <% end %>
        </div>
        <div class="mt-6">
          <% if current_user %>
            <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-brown-600 hover:bg-brown-700" %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-brown-600 hover:bg-brown-700" %>
            <p class="mt-6 text-center text-base font-medium text-gray-500">
              Existing user?
              <%= link_to "Sign in", new_user_session_path, class: "text-brown-600 hover:text-brown-500" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
