<head>
  <title>petakopi.my — <%= content_for?(:page_title) ? yield(:page_title) : "Discover authentic coffee anywhere" %></title>
  <meta name="title" content="petakopi.my — <%= content_for?(:page_title) ? yield(:page_title) : "Discover authentic coffee anywhere" %>">
  <meta name="description" content="<%= content_for?(:page_description) ? yield(:page_description) : "Discover and share new freshly brewed coffee places around you. Built by the community for everyone." %>">

  <% if content_for?(:canonical_url) %>
    <link rel="canonical" href="<%= request.base_url %><%= yield :canonical_url %>" />
  <% end %>

  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="CremaApp">
  <meta name="application-name" content="CremaApp">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#FAF7F5">

  <%= cloudflare_turnstile_script_tag %>

  <% if turbo_native_app? %>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
  <% else %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <% end %>

  <%= tag.meta name: "bridge-platform", content: turbo_native_bridge_platform %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>
  <%= vite_stylesheet_tag "application", "data-turbo-track": "reload" %>
  <%= vite_javascript_tag "application", "data-turbo-track": "reload", defer: true %>

  <%= yield(:extra_styles) if content_for?(:extra_styles) %>
  <%= yield(:extra_js) if content_for?(:extra_js) %>

  <%= render "layouts/social_meta_tags" %>

  <% if Rails.env.production? && current_user&.role.nil? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-14JBBQZVQR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag(){dataLayer.push(arguments);}

      gtag("js", new Date());

      document.addEventListener("turbo:load", function(event) {
        gtag(
          "config",
          "G-14JBBQZVQR",
          {
            page_location: event.detail.url,
            page_path: window.location.pathname,
            page_title: document.title
          }
        );

        if (window.location.search.includes("from=homescreen")) {
          gtag(
            "event",
            "home_screen_launch", {
              "event_category": "PWA",
              "event_label": "Home Screen Launch"
            }
          );
        }
      });
    </script>
  <% end %>
</head>
