<head>
  <title>petakopi.my — <%= content_for?(:page_title) ? yield(:page_title) : "Discover nearby coffee places" %></title>
  <meta name="title" content="petakopi.my — <%= content_for?(:page_title) ? yield(:page_title) : "Discover nearby coffee places" %>">
  <meta name="description" content="<%= content_for?(:page_description) ? yield(:page_description) : "Discover and share new freshly brewed coffee places around you. Built by the community for everyone." %>">

  <% if turbo_native_app? %>
    <meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
  <% else %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <% end %>

  <%= tag.meta name: "bridge-platform", content: turbo_native_bridge_platform %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= yield(:extra_styles) if content_for?(:extra_styles) %>
  <%= yield(:extra_js) if content_for?(:extra_js) %>

  <%= render "layouts/social_meta_tags" %>

  <% if Rails.env.production? && current_user&.role.nil? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-14JBBQZVQR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());

      gtag("config", "G-14JBBQZVQR");
    </script>
  <% end %>
</head>
