<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/head" %>

  <body class="bg-brown-100 bg-opacity-5">
    <%= render "layouts/header" unless turbo_native_app? %>

    <div class="mx-auto lg:max-w-7xl px-4 lg:px-8">
      <div class"mt-2 text-center text-sm text-gray-600">
        <%= render "components/alert", alerts: alert if alert %>
        <%= render "components/notice", alerts: notice if notice %>
      </div>

      <div class="min-h-full flex flex-col justify-center mb-12 mt-4 lg:mt-6">
        <%= yield %>
      </div>
    </div>
    <%= yield(:js) if content_for?(:js) %>
  </body>
</html>
