<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <%= render "layouts/header" %>

    <div class="max-w-2xl mx-auto bg-white lg:max-w-7xl lg:px-8">
      <div class"mt-2 text-center text-sm text-gray-600">
        <%= render "components/alert", alerts: alert if alert %>
        <%= render "components/notice", alerts: notice if notice %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
