<div class="flex space-x-5 items-center">
  <div>
    <% if @coffee_shop.logo.attached? %>
      <%= image_tag rails_public_blob_url(@coffee_shop.logo), class: "h-10 w-10 rounded-full border border-brown" %>
    <% end %>
  </div>
  <h2 class="text-3xl font-extrabold text-gray-900">
    Edit <%= @coffee_shop.name %>
  </h2>
</div>

<div class"mt-2 text-center text-sm text-gray-600">
  <%= render "components/alert", alerts: @coffee_shop.errors.full_messages if @coffee_shop.errors.full_messages.count > 0 %>
</div>

<div class="bg-white overflow-hidden shadow rounded-lg mt-8">
  <div class="px-4 py-5 sm:p-6">
    <div
      data-controller="select"
      data-select-url-value="<%= cities_locations_path %>"
      data-select-param-value="state"
      >
      <%= form_for [:admin, @coffee_shop] do |f| %>
        <div class="space-y-5 divide-y divide-gray-200">
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :slug, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Slug
            <% end %>
            <div class="mt-1">
              <%= f.text_field :slug, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :name, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Name
            <% end %>
            <div class="mt-1">
              <%= f.text_field :name, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :description, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Description
            <% end %>
            <div class="mt-1 sm:col-span-2">
              <%= f.rich_text_area :description %>
            </div>
          </div>

          <%= f.fields_for :google_location do |location_form| %>
            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
              <%= location_form.label :place_id,
                class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do
              %>
                Google Place ID
              <% end %>
              <div class="mt-1">
                <%= location_form.text_field :place_id,
                  class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md",
                  placeholder: "Place ID"
                %>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
              <%= location_form.label :lat,
                class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do
              %>
                Latitude
              <% end %>
              <div class="mt-1">
                <%= location_form.text_field :lat,
                  class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md",
                  placeholder: "Latitude"
                %>
              </div>
            </div>

            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
              <%= location_form.label :lng,
                class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do
              %>
                Longitude
              <% end %>
              <div class="mt-1">
                <%= location_form.text_field :lng, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md", placeholder: "Longitude" %>
              </div>
            </div>

          <% end %>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :district, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Halal Tags
            <% end %>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="space-y-6 sm:space-y-5">
                <% Tag.where(group: "halal").each do |tag| %>
                  <%= render "form_tag", f: f, tag: tag, multiple_selections: false %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :district, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Other Tags
            <% end %>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div class="space-y-6 sm:space-y-5">
                <% Tag.where(group: nil).each do |tag| %>
                  <%= render "form_tag", f: f, tag: tag, multiple_selections: true %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :instagram, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Instagram
            <% end %>
            <div class="mt-1">
              <%= f.text_field :instagram, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
            </div>
            <%= render partial: "link_preview", locals: { url: f.object.instagram_url, name: "instagram" } %>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :facebook, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Facebook
            <% end %>
            <div class="mt-1">
              <%= f.text_field :facebook, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
            </div>
            <%= render partial: "link_preview", locals: { url: f.object.facebook_url, name: "facebook" } %>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :twitter, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Twitter
            <% end %>
            <div class="mt-1">
              <%= f.text_field :twitter, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
            </div>
            <%= render partial: "link_preview", locals: { url: f.object.twitter_url, name: "twitter" } %>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :tiktok, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              TikTok
            <% end %>
            <div class="mt-1">
              <%= f.text_field :tiktok, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
            </div>
            <%= render partial: "link_preview", locals: { url: f.object.tiktok_url, name: "tiktok" } %>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :whatsapp, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              WhatsApp
            <% end %>
            <div class="mt-1">
              <%= f.text_field :whatsapp, class: "max-w-lg block w-full shadow-sm focus:ring-brown-500 focus:border-brown-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md" %>
            </div>
            <%= render partial: "link_preview", locals: { url: f.object.whatsapp_url, name: "whatsapp" } %>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :logo, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Logo
            <% end %>
            <div class="mt-1">
              <%= f.file_field :logo, class: "text-sm text-gray-700" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :admin_notes, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Admin Notes
            <% end %>
            <div class="mt-1">
              <%= f.text_area :admin_notes, rows: 4, class: "shadow-sm focus:ring-brown-500 focus:border-brown-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <%= f.label :status, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" do %>
              Status
            <% end %>
            <div class="mt-1">
              <%= f.select :status,
                CoffeeShop.statuses.keys,
                {},
                id: nil,
                data: { select_target: "select" },
                class: "max-w-lg block focus:ring-brown-500 focus:border-brown-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
              %>
            </div>
          </div>

          <div class="pt-5">
            <div class="flex justify-end">
              <%= link_to "Cancel", admin_coffee_shops_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-brown-700 bg-brown-100 hover:bg-brown-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brown-500" %>
              <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-brown-600 hover:bg-brown-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brown-500">
                Submit
              </button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
